<mat-toolbar color="primary">
  <button mat-icon-button class="example-icon" 
    (click)="sidenav.toggle()"
    aria-label="Side Menu">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Projects portal</span>
  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Account">
    <mat-icon>face</mat-icon>
    <mat-icon>arrow_drop_down</mat-icon>
  </button>
  
</mat-toolbar>

<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav mode="side" [(opened)]="opened" >
    <button mat-button class="menu-button">
      <mat-icon color="primary">dashboard</mat-icon>
      <span>&nbsp; Dashboard</span>
    </button>
    <button mat-button class="menu-button">
        <mat-icon color="primary">event</mat-icon>
        <span>&nbsp; Projects</span>
    </button>
    <button mat-button class="menu-button">
        <mat-icon color="primary">person_outline</mat-icon>
        <span>&nbsp; Members</span>
    </button>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="content">
      <span>Main content goes here...</span>

    </div>
    
  </mat-sidenav-content>
</mat-sidenav-container>
