
.pp-sidenav-container {
    height: calc(100vh - 65px);
    border: 1px solid rgba(0, 0, 0, 0.5);
  }
.pp-sidenav-content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}