@import 'themes';
// Bootstrap brand color customization


/*     brand Colors              */

$brand-primary:              $primary !default;
$brand-info:                 $accent !default;
$brand-success:              $teal-900 !default;
$brand-warning:              $orange-500 !default;
$brand-danger:               $warn !default;
$brand-rose:                 $pink-500 !default;
$brand-inverse:              $black-color !default;