<div class="landing-container d-flex text-center text-white">
    <div class="d-flex p-3 mx-auto flex-column">
        <header class="mb-auto">
            <div>
                <!--<h3 class="float-md-start mb-0">Angular</h3>-->
                <nav class="nav nav-masthead justify-content-center float-md-end">
                    <a class="nav-link" routerLinkActive="active" routerLink="/landing" [routerLinkActiveOptions]="{ exact: true }">Home</a>
                    <a class="nav-link" routerLinkActive="active" routerLink="./auth">Login</a>
                    <a class="nav-link" routerLinkActive="active" routerLink="./aboutus">About Us</a>
                </nav>
            </div>
        </header>

        <main class="px-3">
            <router-outlet></router-outlet>
        </main>

        <footer class="mt-auto text-white-50">
            <p>Created by <a class="text-white" href="#">Nikhila Chaudhari</a></p>
        </footer>
    </div>
</div>