<body class="d-flex h-100 text-center">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <main class="form-signin">
            <form [formGroup]="myForm" (ngSubmit)="resetPassword()">
                <img class="mb-4" src="/assets/img/tree-logo.png" alt="" width="72" height="57">
                <!--<h1 class="h3 mb-3 fw-normal">Please sign in <mat-icon>menu</mat-icon></h1> -->
                <p>Enter your email address and we'll send you an email with instructions to reset your password.</p>
                <mat-form-field appearance="fill" class="w-100">
                    <mat-label>Email address</mat-label>
                    <input matInput placeholder="name@example.com" formControlName="email">
                    <mat-error *ngIf="email.invalid">{{getErrorMessage( email)}}</mat-error>
                </mat-form-field>

                <button mat-raised-button color="primary" class="w-100 btn-lg" type="submit">Reset password</button>
                <p class="pt-2">Go back to <a class="text-primary p-0" routerLink="../login">Login</a> here</p>
            </form>
        </main>
    </div>
</body>