<body class="text-center">

    <div class="cover-container mx-auto flex-column">
        
        <main class="px-3">
            <h1>STEWARDSHIP SATURDAYS AT STATE PARKS LONG ISLAND</h1>
            <p class="lead">The New York State Office of Parks, Recreation and Historic Preservation offers the opportunity for environmental volunteers to get to work!  Stewardship Saturdays are a great way to come together with a community of people that care about the environment and want to give back to nature.</p>
            
        </main>

        
    </div>



</body>